GITLAB_URL=https://gitlab-host
GITLAB_PROJECTS=https://gitlab.com/your-project-url
GITLAB_TOKEN=glpat-past-here

# replac with your configuration
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=kenevo/DeepSeek-V4-Flash-UD-Q4_K_XL:latest

